<html>
    <body>
        <table border="1px">
            <tr>
                <td>NOME FANTASIA</td>
                <td>DATA DE FABRICAÇÃO</td>
                <td>COR</td>
                <td>PREÇO</td>
                <td>ALTURA</td>
                <td>PESO</td>
            </tr>
            <tr>
                <td>Mari Danada</td>
                <td>22/07/2000</td>
                <td>Caucasiana</td>
                <td>200</td>
                <td>2.03</td>
                <td>88kg</td>
            </tr>
            <tr>
                <td>Lori Souza</td>
                <td>22/07/1956</td>
                <td>Preta</td>
                <td>35</td>
                <td>1.45</td>
                <td>45kg</td>
            </tr>
        </table>
    </body>
</html>